@import "./../../../assets/styles/style.scss";

.catalogPage {
  display: flex;
  overflow-x: hidden;
	min-height: calc(100vh - 10rem);
  flex-direction: column;
  align-items: center;
  background-color: $rootBcg;
}
