@import "./../../../assets/styles/style.scss";

.currentPage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 10rem);
  justify-content: center;
  align-items: center;
  background-color: $rootBcg;
}
