@import "./../../../assets/styles/style.scss";

.header {
  font-family: Roboto;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}
.amountCards {
  min-width: 2rem;
  min-height: 2rem;
  color: $dataText;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    color: #f1b926;
  }
}
.amountCards.active {
  color: #f1b926;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #ffffff;
}
