@import "../../../assets/styles/variables.scss";

.errorMessage {
  width: 50%;
  position: absolute;
  top: 5rem;
  left: 25%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: rgb(165, 41, 19);
  border-radius: 2rem;
  color: white;
  @media (max-width: 747px) {
    left: 20%;
  }
}
