@import "./../../../assets/styles/style.scss";

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-top: 5rem;
  .headerList {
    margin: 2rem 0 0;
    display: flex;
    border: 0.063rem solid $borderCard;
    border-width: 0 0 0.063rem 0;
    padding-bottom: 1.5rem;
    .status {
      font-family: Roboto;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-left: 6.5rem;
    }
    .name {
      font-family: Roboto;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-left: 10rem;
    }
    .birth {
      font-family: Roboto;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-left: 15.438rem;
    }
  }
  .cardListGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 74.563rem;
    margin: 5rem auto;
    @media (max-width: 1215px) {
      width: 49rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 810px) {
      width: 24rem;
      grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: 420px) {
      width: 17rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .cardList {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 74.563rem;
    margin: 0 auto;
    @media (max-width: 1215px) {
      width: 49rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 810px) {
      width: 24rem;
      grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: 420px) {
      width: 17rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width: 1215px) {
    .headerCatalog {
      width: 49rem;
    }
  }
  @media (max-width: 810px) {
    .headerCatalog {
      width: 24rem;
    }
    .headerList {
      .status {
        margin-left: 3.5rem;
      }
      .name {
        margin-left: 6rem;
      }
      .birth {
        margin-left: 5rem;
      }
    }
  }
  @media (max-width: 420px) {
    .headerCatalog {
      width: 17rem;
    }
    .headerList {
      .status {
        margin-left: 2.5rem;
      }
      .name {
        margin-left: 3.5rem;
      }
      .birth {
        margin-left: 1.5rem;
      }
    }
  }
}
