$statusText: #51e245;
$dataText: #2d2d2d;
$statusBcg: #d6ffd2;
$shadow: #0000000a;
$errorText: rgb(240, 227, 227);
$errorBcg: #9c1e1e;

@mixin status($statusText, $statusBcg) {
  color: $statusText;
  background-color: $statusBcg;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  text-align: center;
  margin-bottom: 0.75rem;
  letter-spacing: 0.063rem;
  font-variant: small-caps;
}
